@import 'touch.css';

/* space-mono-regular - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../font/space-mono-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Space Mono'), local('SpaceMono-Regular'),
       url('../font/space-mono-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/space-mono-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/space-mono-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/space-mono-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/space-mono-v1-latin-regular.svg#SpaceMono') format('svg'); /* Legacy iOS */
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -ms-touch-action: none;
    -ms-scroll-chaining: none;
    -ms-scroll-limit-y-max: auto;
    -ms-scroll-translation: vertical-to-horizontal;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Space Mono', monospace;

    background:  #141423;
    color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-highlight: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


*, *:after, *:before {
    box-sizing: border-box;
}
.home header{margin-top:2rem;}

.home header, .home section{padding:.5rem 1.5rem;}

h1{font-weight:400; font-size:15vw; color:#E8F8F6;}
/* */

.home, .tetris {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.scores {
    width: 100%;
    position: absolute;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.game-controls {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 8px;
}


.tetris .gamefield-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    top: 0px;
    bottom: 0px;
}

.tetris canvas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background:  #19192E;
    bottom: 0;
}



.game-over, .pause-screen {
    position: absolute;
    color: #fff;
    top: 0;
    bottom:0;
    left: 0;
    width: 100%;
    transition: all 350ms;
    transition-timing-function: ease-out;
    text-align: center;
}
.pause-screen {
    display: flex;
    flex-direction: column-reverse;
}

.pause-screen-container,
.game-over-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #141423;
    z-index: -1;
    opacity: 0;
}

.game-over-container.visible,
.pause-screen-container.visible {
    z-index: 1;
    opacity: 1;
}


/* Buttons, helpers etc. */

.btn {
    line-height: 24px;
    color: rgba(255, 255, 255, .7);
    padding: 8px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    outline: none;
    text-align: center;
}

.btn.btn-with-icon{
  text-align: left;
}

.btn svg{margin-left:1rem;}

.btn-start,
.pause-screen .btn,
.game-over .btn {
    padding: 16px 32px;
    color: #fff;
    background: #4CB8C4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4CB8C4 , #3CD3AD); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4CB8C4 , #3CD3AD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 18px;
/*    box-shadow: 0 0 48px rgba(0, 64, 128, 0.5);*/
    transition: all .3s ease;
    font-weight: 500;
}

.btn-start{
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pause-screen .btn,
.game-over .btn {
    width: 100%;
    justify-content: center
}



.score-line {
  width :100%;
  display: flex;
}

.score-line div {
  color:#E8F8F6;
  font-size:16px;
  line-height:24px;
  border-bottom:1px solid #1F1F39;
  padding:8px 0;
}



@media only screen and (min-width: 600px) {
  .score-line div {
    font-size:20px;
    line-height:32px;
  }
}

/* Home screen top-10 list */
.highscore-container {
    position: absolute;
    top: 25vw;
    bottom: 64px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.highscore-container .title-row {
  color:#325F5B;
  font-size:14px;
}

.score-line div:nth-child(1){width:40px;}
.score-line div:nth-child(2){flex:1;}
.score-line div:nth-child(3){flex:1;}
.score-line div:nth-child(4){flex:1;}

.score-line div:nth-child(4), .score-line div:nth-child(3){text-align:right;}





/* High score initials input */
.highscores{
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height : 100%;
}

.game-over header,
.pause-screen header{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.game-over .scores{position:static;}
.score-box {
    color: rgba(255,255,255,.8);
    width: 90px;
    text-align: center;
    padding: 16px;
}

.score-box h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.score-box span {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    display: block;
}

.score-box-side span {
    font-size: 24px;
    line-height: 28px;
}
.game-over h1,
.pause-screen h1 { font-size:2rem; line-height:2rem; font-weight:400; margin-top:3rem; }
.game-over h2,
.pause-screen h2 { font-size:1rem; line-height:1rem; font-weight:400; }

.game-over.highscores-visible .highscores{display: flex;}
.game-over.highscores-visible .no-highscore {display: none;}

.initials-container {
    display: flex;
    color: #fff;
    z-index: 999;
    padding:2rem;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.initials-submit {
    z-index: 999;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

input.initials {
    display: none;
}

/* Virtual keyboard */
.virtual-keyboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    z-index: 9999;
    background-color:#141423;
    padding:1px;
}

.virtual-keyboard .key-container {
  color: #fff;
  width: 10%;
  text-transform: uppercase;
  padding:1px;
}

.virtual-keyboard .key-container:nth-child(43) {
  flex: 1;
}

.key-container div{
  background:#19192E;
  border-radius:0.25rem;
  line-height:3rem;
  font-size:1.5rem;
  white-space: pre;
}

.key-container:active div{
    background: #4CB8C4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4CB8C4 , #3CD3AD); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4CB8C4 , #3CD3AD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.initials-container .highscore-initials{
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: .25em;
  line-height: 3rem;
  white-space: pre;
}

.initials-container .caret {
  width: .25rem;
  height: 3rem;
  background: #fff;
  animation: blink 1s ease 0s infinite;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.hidden {
    display: none;
}

.landscape-lock {display: none;}
body.landscape .landscape-lock {
    display: block;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    color: #000;
    font-size: 15vw;
    }

.game-over .btn-home {
  position: absolute;
  bottom: 0;
  }
