@import 'touch.css';
@import 'te3s.css';

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -ms-touch-action: none;
    -ms-scroll-chaining: none;
    -ms-scroll-limit-y-max: auto;
    -ms-scroll-translation: vertical-to-horizontal;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    background:  #141423;
    color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-highlight: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


*, *:after, *:before {
    box-sizing: border-box;
}
header{margin-top:2rem;}
header, section{padding:.5rem 1.5rem;}

h1{font-weight:400; font-size:15vw; color:#E8F8F6;}
/* */

.home, .tetris {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.scores {
    width: 100%;
    position: absolute;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.score-box {
    color: rgba(255,255,255,.8);
    width: 90px;
    text-align: center;
    padding: 16px;
}

.score-box h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.score-box span {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    display: block;
}

.score-box-side span {
    font-size: 24px;
    line-height: 28px;
}

.game-controls {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 8px;
}


.tetris .gamefield-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    top: 0px;
    bottom: 0px;
}

.tetris canvas {
    position: absolute;
    border-bottom: 8px solid rgba(0, 64, 128, 0.1);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 48px rgba(0, 64, 128, 0.1);
}

.game-over, .pause-screen {
    position: absolute;
    color: #fff;
    top: 0;
    bottom:0;
    left: 0;
    width: 100%;
    transition: all 350ms;
    transition-timing-function: ease-out;
    text-align: center;
}
.game-over-container,
.pause-screen-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: -1;
    opacity: 0;
}

.game-over-container.visible,
.pause-screen-container.visible {
    z-index: 1;
    opacity: 1;
}




/* Buttons, helpers etc. */

.btn {
    line-height: 24px;
    color: rgba(255, 255, 255, .7);
    padding: 8px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    outline: none;
    text-align: center;
}

.btn.btn-with-icon{
  text-align: left;
}


.btn-start,
.pause-screen .btn,
.game-over .btn {
    padding: 16px 32px;
    color: #fff;
    background-color: #0075DB;
    font-size: 18px;
    box-shadow: 0 0 48px rgba(0, 64, 128, 0.6);
    transition: all .3s ease;
    font-weight: 500;
}

.btn-start{
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-start:hover,
.pause-screen .btn,
.game-over .btn {
    background-color: #007DEA;
}

.pause-screen .btn,
.game-over .btn {
    width: 100%;
    justify-content: center
}



.score-line {
  width :100%;
  display: flex;
}

.score-line div {
  color:#E8F8F6;
  font-size:16px;
  line-height:24px;
  border-bottom:1px solid #1F1F39;
  padding:8px 0;
}



@media only screen and (min-width: 600px) {
  .score-line div {
    font-size:20px;
    line-height:32px;
  }
}

.highscore-container {
    position: absolute;
    top: 25vw;
    bottom: 64px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.highscore-container .title-row {
  color:#325F5B;
  font-size:14px;
}

.score-line div:nth-child(1){width:40px;}
.score-line div:nth-child(2){flex:1;}
.score-line div:nth-child(3){flex:1;}
.score-line div:nth-child(4){flex:1;}

.score-line div:nth-child(4), .score-line div:nth-child(3){text-align:right;}


/* Highscores initials input */
.highscores {
    display: none;
    width: 100%;
    height:100%;
}

.game-over.highscores-visible .highscores{display: block;}

.initials-container {
    display: flex;
    width: 100%;
    background: #111;
    border: 0;
    color: #fff;
    border-bottom: 4px solid #333;
    z-index: 999;
    margin : 20px 0;
    align-items: center;
    justify-content: center;
}


.initials-submit {
    z-index: 999;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

input.initials {
    display: none;
}

/* Virtual keyboard */
.virtual-keyboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    z-index: 9999;
    margin: 20px 0;
}

.virtual-keyboard .key-container {
    background: rgba(128,128,128,1);
    color: #fff;
    padding: 5px;
    text-align: center;
    width: 10%;
    text-transform: uppercase;
}

.virtual-keyboard .key-container:hover,
.virtual-keyboard .key-container:focus {
    background: rgba(164,164,164,1);
}

.initials-container .highscore-initials{
    font-size: 2em;
    color: rgba(164,164,164,1);
    font-weight: 600;
    letter-spacing: .25em;
    line-height: 2em;
    min-height: 2em;
    margin: 0;
}
.initials-container .caret {
    width: 1em;
    height: 2em;
    background: rgba(0,164,0,0);
    animation: blink 1s linear 0s infinite;
    margin-left: .25em
}
@keyframes blink {
    0%   { background: rgba(128,128,128,1) }
    47%  { background: rgba(164,164,164,1) }
    50%  { background: rgba(164,164,164,0) }
    97%  { background: rgba(164,164,164,0) }
    100% { background: rgba(164,164,164,1) }
}


.hidden {
    display: none;
}
