.tetris-touch-point-container {
    width: 200vw;
    height: 200vw;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(45deg) ;
}

.tetris-touch-point-container > div {
    position: absolute;
    width: 50%;
    height: 50%;
    box-shadow: 0 0 1px rgba(255, 255, 255, .3);
}

.tetris-touch-point-container .tetris-touch-control-right {
    top: 0%;
    left: 50%;
}

.tetris-touch-point-container .tetris-touch-control-left {
    top: 50%;
    left: 0%;
}

.tetris-touch-point-container .tetris-touch-control-drop {
    top: 50%;
    left: 50%;
}

.tetris-touch-point-container .tetris-touch-control-rotate {
    top: 0%;
    left: 0%;
}
